<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Theme</ion-label>
    <ion-select [ngModel]="theme$ | async" (ngModelChange)="changeTheme($event)">
      <ion-select-option value="">Auto (Default)</ion-select-option>
      <ion-select-option value="light">Light</ion-select-option>
      <ion-select-option value="dark">Dark</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Accent Color</ion-label>
    <ion-select [ngModel]="accentColor$ | async"
      (ngModelChange)="changeAccentColor($event)">
      <ng-container *ngFor="let accentColor of accentColors">
        <ion-select-option
          *ngIf="(theme$ | async)"
          [value]="accentColor.name">
          {{ accentColor.title }}
        </ion-select-option>
      </ng-container>
    </ion-select>
  </ion-item>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
